<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>

    <title>Youtube Channel Processor Desktop Application</title>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,700'>
    <link rel="stylesheet" href="./jspm_packages/github/angular/bower-material@master/angular-material.css"/>
    <link rel="stylesheet" href="./jspm_packages/npm/angular-material-data-table@0.10.10/dist/md-data-table.css"/>
    <link rel="stylesheet" href="./assets/app.css"/>
</head>

<body ng-cloak layout="column" ng-controller="AppController as app">

<!-- Container #1 (see wireframe) -->
<md-toolbar layout="row" class="md-toolbar-tools">
    <md-button class="menu md-icon-button" hide-gt-sm ng-click="app.toggleList()"
               aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <img src="assets/img/youtube-logo.png" style="height: 100%"/>
    <h1 style="color: white;">Processor App</h1>
    <span flex></span>
    <img src="assets/img/pwrdByYT-white.png" style="height: 100%"/>
</md-toolbar>

<!-- Container #2 -->
<div flex layout="row">

    <!-- Container #3 -->
    <md-sidenav class="md-whiteframe-4dp" md-is-locked-open="$mdMedia('gt-sm')"
                md-component-id="left" ng-click="app.toggleList()">
        <!-- Custom UsersList component -->
        <md-list>
            <md-list-item ui-sref="jobs">
                <md-icon md-svg-icon="jobs"></md-icon>
                <p>Jobs</p>
            </md-list-item>
            <md-list-item ui-sref="series">
                <md-icon md-svg-icon="series"></md-icon>
                <p>Series</p>
            </md-list-item>
            <md-divider></md-divider>
            <md-list-item ui-sref="services">
                <md-icon md-svg-icon="services"></md-icon>
                <p>Services</p>
            </md-list-item>
            <md-list-item ui-sref="settings">
                <md-icon md-svg-icon="settings"></md-icon>
                <p>Settings</p>
            </md-list-item>
            <md-list-item ui-sref="logs">
                <md-icon md-svg-icon="logs"></md-icon>
                <p>Logs</p>
            </md-list-item>
        </md-list>
    </md-sidenav>

    <!-- Container #4 -->
    <md-content flex>
        <ui-view></ui-view>
    </md-content>
</div>

<script src="./jspm_packages/system.js" type="text/javascript"></script>
<script src="config.js" type="text/javascript"></script>
<script type="text/javascript">
    System
        .import('src/boot/boot')
        .catch(console.error.bind(console)); // make sure any errors print to console
</script>

</body>
</html>
