<!--<md-toolbar class="md-table-toolbar md-default">-->
    <!--<div class="md-toolbar-tools">-->
        <!--<span>Services Logs</span>-->
        <!--<span flex></span>-->
        <!--<md-select ng-model="$ctrl.query.filter.level" placeholder="Log Level" class="md-no-underline">-->
            <!--<md-option value="">ALL</md-option>-->
            <!--<md-option ng-value="debug">Debug</md-option>-->
            <!--<md-option ng-value="verbose">Verbose</md-option>-->
            <!--<md-option ng-value="info">Info</md-option>-->
            <!--<md-option ng-value="warn">Warn</md-option>-->
            <!--<md-option ng-value="error">Error</md-option>-->
            <!--<md-option ng-value="silly">Silly</md-option>-->
        <!--</md-select>-->
    <!--</div>-->
<!--</md-toolbar>-->
<!--<md-toolbar class="md-default">-->
    <!--<md-tabs>-->
        <!--<md-tab label="ALL" ng-click="$ctrl.clearLabel()"></md-tab>-->
        <!--<md-tab label="Job Runner" ng-click="$ctrl.query.filter.label = 'job-runner-service'"></md-tab>-->
        <!--<md-tab label="Watcher" ng-click="$ctrl.query.filter.label = 'watcher-service'"></md-tab>-->
        <!--<md-tab label="Uploader" ng-click="$ctrl.query.filter.label = 'upload-video-service'"></md-tab>-->
        <!--<md-tab label="Processor" ng-click="$ctrl.query.filter.label = 'process-video-service'"></md-tab>-->
    <!--</md-tabs>-->
<!--</md-toolbar>-->

<!-- exact table from live demo -->
<!--<md-table-container>-->
<!--<table md-table>-->
<!--<thead md-head md-order="$ctrl.query.order" md-on-reorder="$ctrl.reload($ctrl.query)">-->
<!--<tr md-row>-->
<!--<th md-column md-order-by="timestamp" md-desc="true">Time</th>-->
<!--<th md-column>Label</th>-->
<!--<th md-column>Level</th>-->
<!--<th md-column>Message</th>-->
<!--</tr>-->
<!--</thead>-->
<!--<tbody md-body>-->
<!--<tr md-row ng-repeat="log in $ctrl.logs.data">-->
<!--<td md-cell>{{log.timestamp | date:'dd/MM/yyyy HH:mm:ss'}}</td>-->
<!--<td md-cell>{{log.label}}</td>-->
<!--<td md-cell>{{log.level}}</td>-->
<!--<td md-cell>{{log.message}}</td>-->
<!--</tr>-->
<!--</tbody>-->
<!--</table>-->
<!--</md-table-container>-->

<textarea style="width: 90%; height: 90%;" ng-model="$ctrl.logstring">

</textarea>

<!--<md-table-pagination md-limit="$ctrl.query.limit" md-limit-options="[10, 20, 50]" md-page="$ctrl.query.page" md-total="{{$ctrl.logs.count}}" md-on-paginate="$ctrl.reload($ctrl.query)" md-page-select></md-table-pagination>-->